
html{
    max-width: 120vw;
    margin: 0;
}

body {
    margin:0;
    font-family: 'Roboto', sans-serif;
}

header{
    margin: 0;
    padding: 25px 0 25px 0;
    background: #FF525C;
    /* border-bottom: solid 2px #f51a9d; */
}

nav.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav #direita {
    margin-right: 32px;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-size: 26px;
}

nav #buscar{
    width: 127px;
    height: 38px;
    font-family: Roboto;
    font-size: 14px;
    text-align: center;
    color: #FF525C;
    background: #ffffff59;
    border-radius: 16px 0 0 16px;
    border: 1px #ffffff59;
}

nav button.busca
    {width: 15px;
    height: 15px;
    padding: 20px;
    border-radius: 0 8px 8px 0;
    font-family: Roboto;
    font-size: 14px;
    color: #FF525C;
    border: 1px white;
    background: #ffffff url(../img/pesquisa.png) no-repeat center;
}

nav .two{
    width: 152px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 8px;
    font-family: Roboto;
    font-size: 14px;
    color: #FF525C;
    margin-left: 20px;
    border: 1px  white;
}

nav img {
    width: 185px;
    margin-left: 32px;
}

a:-webkit-any-link {
    font-size: 17px;
    font-family: roboto;
    color: #FF525C;
    cursor: pointer;
    text-decoration: none;
}

footer{
    margin: 0;
    padding: 25px 0 25px 0;
    background: #FF525C;
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

footer a:-webkit-any-link {
    color: #FFFFFF;
    cursor: pointer;
    font-family: Roboto;
}
